
body {
	display: flex;
	align-items: center;
    background-image: url("../backgroundPics/mutluyillar.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}
#titleBox {
    display: none;
}
main{
	height: auto;
	width: 90vw;
    position: relative;
    transition: all 1s ease;
}

#title{
    text-align: center;
    color: white;
}
#fotoPlace {
	display: flex;
	gap: 5px;
	position: relative;
    overflow-x: scroll;

    align-items: center;
}
.mainBox {
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: column;
	opacity: 100%;
	transition: all 1s ease;
	height: auto;
	font-size: auto;
	left: 0;
}
.imgBox {
	position: relative;
	height: 77vh;
	overflow: hidden;
	border: 1px solid honeydew;
	border-radius: 20px;
    width: 60vh;
}
.img{
    width: 100%;
    position: relative;
}
.imgFlip{
    width: 100%;
    position: relative;
}
.underText {
	position: absolute;
	color: white;
	bottom: 0;
    font-family: 'Kaushan Script', cursive;
}
.changeButton {
	position: absolute;
	top: 5%;
    left: 7%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	color: honeydew;
}
.w3-jumbo {
	font-size: 20px !important;
}
.w3-spin {
	animation: w3-spin 7s infinite linear;
}
div.big{
    height: 100%;
    font-size: 25px;
    transition: all 1s ease;
}
div.bigger {
    height: 90vh;
    width: 45vw;
    transition: all 1s ease;
}
#fotoPlace.biggerFotoPlace {
	gap: 0px;
	margin: 0px;
	transition: all 1s;
	overflow: hidden;
	display: flex;
    justify-content: center;
}
.moreFrontier{
	position: relative;
	z-index: 22;
	top: 57vh;
	font-size: 30px;
}
.picBox {
	height: 25vh;
	width: 75vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
}
#NewPic {
	height: 25vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	opacity: 12.5%;
	border-radius: 20px;
}
.picBox > a {
	text-decoration: none;
	font-family: 'Marck Script', cursive;
	font-size: 35px;
	width: 80%;
	max-width: 70%;
	max-height: 80%;
}
.hide{
    display: none;
}
.opacity {
	opacity: 0%;
	width: 0;
	left: -100%;
}

@media only screen and (max-width: 600px) {
    body{
        display: flex;
        align-items: center;
        background-image: url("../backgroundPics/newYear.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
    }
    #titleBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 100%;
        background-color: black;
        color: white;
        height: 5vh;
        font-size: 11px;
        flex-direction: row;
        margin-bottom: 5px;
    }
    main {
        height: 100vh;
        width: 90vw;
        position: relative;
        overflow-y: scroll;
    }
    
    #title{
        text-align: center;
        color: white;
    }
    
    #fotoPlace {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        position: relative;
    }
    .mainBox {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
        height: auto;
        font-size: auto;
    }
    .imgBox {
        position: relative;
        height: 25vh;
        overflow: hidden;
        border: 1px solid honeydew;
        border-radius: 20px;
        width: auto;
    }
    .img{
        width: 100%;
        position: relative;
    }
    .imgFlip{
        width: 100%;
        position: relative;
    }
    .underText {
        position: absolute;
        color: white;
        bottom: 0;
        font-family: 'Kaushan Script', cursive;
    }
    .changeButton {
        position: absolute;
        top: 5%;
        left: 7%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: honeydew;
    }
    .w3-jumbo {
        font-size: 20px !important;
    }
    .w3-spin {
        animation: w3-spin 7s infinite linear;
    }
    #fotoPlace.biggerFotoPlace {
        gap: 0px;
        margin: 0px;
        transition: all 1s;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    div.big{
        height: 60vh;
        font-size: 25px;
    }
    div.bigger {
        height: 51vh;
        width: 90vw;
        transition: all 1s ease;
    }
    .moreFrontier{
        font-size: 30px;
    }
    .hide{
        display: none;
    }
    
}