
body {
	display: flex;
	align-items: center;
    background-image: url("../backgroundPics/mutluyillar.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}
#titleBox {
    display: none;
}
main {
	height: 100vh;
	width: 95vw;
	position: relative;
	transition: all 1s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}
#title{
    text-align: center;
    color: white;
}
#fotoPlace {
	display: flex;
	/* gap: 5px; */
	position: relative;
    overflow-x: scroll;
}
.mainBox {
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: column;
	opacity: 100%;
	transition: all 1s ease;
	height: auto;
	font-size: auto;
	margin-left: -100;
}
.mainBox:first-child{
    margin-left: 0;
}
.imgBox {
	position: relative;
	height: 77vh;
	overflow: hidden;
	border: 1px solid honeydew;
	border-radius: 20px;
    width: 60vh;
    box-shadow: 0px 5px 6px black;
}
.img{
    width: 100%;
    position: relative;
}
.imgFlip{
    width: 100%;
    position: relative;
}
.underText {
	position: absolute;
	color: honeydew;
	bottom: 0;
    font-family: 'Kaushan Script', cursive;
}
.changeButton {
	position: absolute;
	top: 5%;
    left: 7%;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	color: honeydew;
}
.w3-jumbo {
	font-size: 20px !important;
}
.w3-spin {
	animation: w3-spin 7s infinite linear;
}
div.big{
    height: fit-content;
    font-size: 25px;
    transition: all 1s ease;
    margin-left: unset;
}
div.bigger {
	height: 90vh;
	width: 45vw;
	transition: all 1s ease;
	overflow: scroll;
}
#fotoPlace.biggerFotoPlace {
	gap: 0px;
	margin: 0px;
	transition: all 1s;
	overflow: hidden;
	display: flex;
	justify-content: center;
	height: 100%;
	align-items: center;
}
.moreFrontier{
	position: relative;
	z-index: 22;
	top: 57vh;
	font-size: 30px;
}
.hide{
    display: none;
}
.opacity {
	opacity: 0%;
	width: 0;
	left: -100%;
    margin-left: unset;
}
@media only screen and (max-width: 600px) {
    body{
        display: flex;
        align-items: center;
        background-image: url("../backgroundPics/loginDikey.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
    }
    #titleBox {
        display: flex;
        justify-content: space-around;
        align-items: center;
    
        width: 100%;
        background-color: black;
        color: white;
        height: 5vh;
        font-size: 11px;
        flex-direction: row;
    }
    main {
        height: 100vh;
        width: 90vw;
        position: relative;
        overflow-y: scroll;
        display: unset;
    }
    #title{
        text-align: center;
        color: white;
    }

    #fotoPlace {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 15px;
        position: relative;
    }
    .mainBox {
        display: flex;
        align-items: center;
        position: relative;
        flex-direction: column;
        height: auto;
        font-size: auto;
        margin-left: unset;
    }
    .imgBox {
        position: relative;
        height: 25vh;
        overflow: hidden;
        border: 1px solid rgb(142,10,36);
        border-radius: 20px;
        width: auto;
        box-shadow: 0px 5px 6px #a80202;
    }
    .img{
        width: 100%;
        position: relative;
    }
    .imgFlip{
        width: 100%;
        position: relative;
    }
    .changeButton {
        position: absolute;
        top: 5%;
        left: 7%;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        color: honeydew;
    }
    .w3-jumbo {
        font-size: 20px !important;
    }
    .w3-spin {
        animation: w3-spin 7s infinite linear;
    }
    #fotoPlace.biggerFotoPlace {
        gap: 0px;
        margin: 0px;
        transition: all 1s;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
    div.bigger {
        height: 51vh;
        width: 90vw;
        transition: all 1s ease;
    }
    .moreFrontier{
        font-size: 30px;
    }
    .hide{
        display: none;
    }
}