
body {
	display: flex;
	align-items: center;
    background-image: url("../backgroundPics/loginYatay.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
	flex-direction: column;
	justify-content: center;
	width: 100vw;
}

#titleBox {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: black;
	color: white;
	height: 10vh;
	font-size: 11px;
	flex-direction: row;

	position: absolute;
	top: 0;
}
main {
	height: auto;
	width: 90vw;
    position: relative;
    transition: all 1s ease;
}
#title{
    text-align: center;
    color: white;
}
#fotoPlace {
	display: flex;
	gap: 3vw;
	position: relative;
	overflow-x: scroll;
    width: 90vw;
}
.albumBox {
	background-image: url("../backgroundPics/AlbumKapakFoto.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 65vh;
	min-width: 42vw;
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
}
.albumBox > a:last-child {
	text-decoration: none;
	font-family: 'Marck Script', cursive;
	font-size: 35px;
	width: 80%;
	max-width: 70%;
	max-height: 80%;
}
#deleteAlbumButton {
    text-decoration: none;
    border: 1px solid white;
    background: black;
    color: white;
    border-radius: 100%;
    font-size: 20px;
    position: relative;
    bottom: 43%;

    right: 10%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hide{
    display: none;
}
.opacity {
	opacity: 0%;
	width: 0;
	left: -100%;
}

@media only screen and (max-width: 600px) {
    body{
        display: flex;
        align-items: center;
        background-image: url("../backgroundPics/albumKapak2.jpeg");
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
        overflow: hidden;
        flex-direction: column;
        justify-content: flex-start;
        width: 100vw;
    }
    main {
        height: 90vh;
        width: 90vw;
        position: relative;

        display: flex;
        justify-content: center;
        margin-top: 3vh;
        overflow-y: scroll;
        max-height: 85vh;
        align-items: flex-start;
    }
    #titleBox {
        height: 5vh;
        margin-bottom: 5px;
        position: relative;
    }
    #title{
        text-align: center;
        color: white;
    }
    #fotoPlace {
        display: grid;
        gap: 25px;
        position: relative;
        grid-template-columns: 1fr;
        grid-template-rows: unset;
        width: unset;
        height: unset;
        overflow: unset;
    }
    .albumBox {
        background-image: url("../backgroundPics/AlbumKapakFoto.jpg");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 25vh;
        width: 75vw;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #deleteAlbumButton {
        text-decoration: none;
        border: 1px solid white;
        background: black;
        color: white;
        border-radius: 100%;
        font-size: 20px;
        position: relative;
        bottom: 41%;

        right: 9%;
        width: 35px;
        height: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
}
    .albumBox > a:last-child {
        text-decoration: none;
        font-family: 'Marck Script', cursive;
        font-size: 35px;
        width: 80%;
        max-width: 70%;
        max-height: 80%;
    }
    .hide{
        display: none;
    }
    
}