body{
    display: flex;
    align-items: center;
    background-image: url("../backgroundPics/profil.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
    justify-content: flex-start;
    width: 100vw;
    margin: 0;

}
.titleBox {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: black;
	color: white;
	height: 5vh;
	font-size: 11px;
	flex-direction: row;
	margin-bottom: 5px;
	position: absolute;
	top: 0;
	transition: all 1s ease;
}
.longerTitle{
	height: 7vh;
	z-index: 101;
}
main {
	height: 88vh;
	width: 100vw;
	position: relative;
	overflow-y: scroll;
	margin-top: 5vh;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	overflow-x: hidden;
}
.user {
	height: 22vh;
	padding: 5px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	color: black;
	align-items: center;
	box-shadow: 0px 10px 10px black;
	background-color: rgb(142,10,36);
	position: sticky;
	top: 0;
	z-index: 100;
	transition: all 1s ease;
}
#usersAvatar {
	border-radius: 40px;
	border: 1px solid black;
	height: 95%;
    min-width: 22.5%;
}
.aktif {
	border-top: 1px solid honeydew;
	font-style: italic;
	font-weight: bold;
}
#profilText {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: scroll;
	width: 48%;
}
#profilText > p{
	margin: 0;
}

#profilText > p:first-child{
	font-size: 65px;
}

#profilText > p:last-child{
	font-size: 35px;
	font-family: 'Tangerine', serif;
}
.favText{
	padding: 10px;
	margin: 0;
	background: aliceblue;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	font-size: 17px;
	border-bottom: 1px solid black;
	margin-bottom: 1vh;
	margin-top: 1vh;
}
.mainBox {
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
	margin-right: 0px;
	opacity: 100%;
	transition: all 1s ease;
	font-size: 20px;
}
.imgBox {
	position: relative;
	width: 44vh;
	overflow: hidden;
	border: 1px solid rgb(142,10,36);
	height: 50vh;
	box-shadow: 0px 3px 12px rgb(142,10,36);
	margin-bottom: 0.5vh;
}
.img{
    position: relative;
	width: 100%;
}
.imgFlip{
    position: relative;
	width: 100%;
}
.underText {
	color: white;
	font-family: 'Kaushan Script', cursive;
	margin: 0;
	position: relative;
}
.changeButton {
    position: absolute;
    top: 5%;
    left: 7%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: honeydew;
}
.w3-jumbo {
    font-size: 20px !important;
}
.w3-spin {
    animation: w3-spin 7s infinite linear;
}
div.big{
    font-size: 30px;
    transition: all 1s ease;
    z-index: 1;
}
div.bigger {
    overflow: scroll;
	justify-content: center;
	align-items: flex-start;
	display: flex;
	height: auto;

    transition: all 1s ease;
}
.deleteComment {
	position: relative;
	border: 1px solid black;
	background-color: rgb(142,10,36);
	color: white;
	text-decoration: none;
	height: 30px;
	width: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	border-radius: 100%;
}
.comments {
	padding: 10px;
	background: aliceblue;
	border: 1px solid black;
	margin-bottom: 7px;
	box-shadow: 0px 2px 5px black;
	display: flex;
	height: auto;
	position: relative;
	justify-content: space-between;
	overflow: hidden;
	align-items: center;
}
.comments > a>img {
	width: 5vh;
	border: 1px solid black;
	border-radius: 100%;
	height: 5vh;
}
.commentText {
	max-width: 65vw;
	overflow: scroll;
	font-size: 20px;
	width: 65vw;
}
.commentField {
	min-height: 7vh;
	color: black;
	overflow: scroll;
	width: 44vh;
	max-height: 50vh;
	position: relative;
}
.newComment {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 2vh;
	background: aliceblue;
	border: 1px solid black;
	box-shadow: 0px 2px 5px black;
	height: 7vh;
}
div.newComment > input {
	width: 80%;
	border: none;
	height: 3vh;
	background-color: aliceblue;
}
div.newComment > button {
	border: none;
	height: 3vh;
	width: 12vw;
	background: rgb(142,10,36);
	color: aliceblue;
	border: 1px solid black;
	border-radius: 9px;
	padding: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.opacity {
	opacity: 0%;
	width: 0;
	left: -100%; 
}
.addComment {
	opacity: 70%;
	text-align: center;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 2vh;
	background: aliceblue;
	border: 1px solid black;
	box-shadow: 0px 2px 5px black;
	height: 7vh;
}
.hide{
	display: none;
}
.smallest{
	height: 0;
	z-index: -1;
}

@media only screen and (max-height: 400px) {

	.titleBox{
		height: 10vh;
	}
	.longerTitle{
		height: 13vh;
	}
	main{
		margin-top: 10vh;
	}
	.user {
		height: 45vh;
		position: relative;
	}
	.favText {
		position: relative;
		top: 1vh;
		margin-bottom: 3vh;
	}
	.userFavorites {
		display: flex;
		flex-direction: row;
		gap: 1vw;
		overflow: scroll;
		height: 100%;
		width: 96vw;
		margin: auto;
	}
	.rotated {
		display: flex;
		position: relative;
		width: 100%;
		align-items: center;
	}
	.mainBox.big{
		flex-direction: column;
	}
	div.bigger {
		overflow: scroll;
		justify-content: center;
		align-items: start;
		display: flex;
		transition: all 1s ease;
		width: 90vh;
		height: 80vh;
	}
	#profilText > p:first-child {
		font-size: 70px;
	}
	#profilText > p:last-child {
		font-size: 28px;
	}
	.mainBox{
		margin-right: 10px;
	}
	.imgBox{
		box-shadow: 0px 2px 5px rgb(142,10,36);
	}
	.smallest{
		height: 0;
	}
	.commentFieldRotated {
		position: relative;
		justify-content: flex-start;
		display: flex;
		flex-direction: column;
		width: 44vw;
		max-height: 75vh;
		z-index: 100;
	}
	.comments{
		overflow: unset;
	}
	.comments > a > img {
		width: 10vh;
		height: 10vh;
	}
	.commentText {
		max-width: 30vw;
		overflow: scroll;
		font-size: 20px;
		width: 30vw;
	}
	.addComment {
		min-height: 10vh;
	}
	.newComment {
		min-height: 10vh;
		padding: 5px;
	}
	div.newComment > button {
		height: 10vh;
		width: 6vw;
	}
	div.newComment > input {
		height: 6vh;
	}
	.underText{
		position: absolute;
		bottom: 2vh;
	}
	.addedComment {
		position: absolute;
		z-index: 10;
		width: 94vw;
	}
}
