#titleBox{
	display: none;
}
body{
    display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    margin: 0;

    background-image: url("../backgroundPics/backQuiz.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
    height: 100vh;
	overflow: hidden;
};

#playGround.playG {
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 10px;
	border: 1px solid red;
	border-radius: 50px;
	box-shadow: 5px 10px 35px black;
	color: black;
	background-color: aliceblue;
	text-align: center;
	width: 90vw;
	min-height: 70vh;
	justify-content: center;
	margin: auto;
}
#playGround {
		background-color: aliceblue;
		width: 85vw;
		border: 1px solid red;
		padding: 10px;
		box-shadow: 5px 10px 18px rgb(142,10,36);
		border-radius: 25px;
		height: 60vh;
		max-height: 60vh;
		text-align: center;
}
#playGround.playArea {
	text-align: center;
	background-color: unset;
	color: black;
	height: 65vh;
	max-height: unset;
	box-shadow: 5px 10px 40px red;
	border: 1px solid red;
	border-radius: 60px;
	padding: 2px;
	overflow-y: scroll;
	width: 85vw;
	margin-top: unset;
}
#playGround h2 {
	margin: 0;
	font-family: 'Cinzel', serif;
	font-size: 30px;
}
#start {
	display: inline-block;
	color: black;
	background-color: rgb(142,10,36);
	border: 1px solid honeydew;
	border-radius: 15px;
	box-shadow: 5px 10px 18px black;
	animation: mymove 8s infinite;
}

#start:active {background-color: aliceblue}

@keyframes mymove {
	0% { left: 40%; }
	50% { left: 46%; }
	100% { left: 40%; }
}

#heart {
	position: absolute;
	animation: 2s ease 0s infinite beat;
}


@keyframes beat {
	0%, 50%, 100% { transform: scale(1, 1); }
	30%, 80% { transform: scale(0.92, 0.95); }
  }

.hide{
	display: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

	width: 100%;
	height: 100%;
	transition: width 1s ease-in;
}

#pictureContainer {   
    width: 40%;
    position: relative;
	justify-content: center;
	display: flex;
	align-items: center;
}
#pictureContainer > img {   
	max-width: 94%;
	max-height: 60vh;
}

/* QUESTIONPARENT  */

.questionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 20px;
	max-width: 50vw;
}

/* question  */

.questionsContainer>div:first-child{
    width: 100%; 

    display: flex;
    align-items: flex-end;
    justify-content: center;

    text-align: center;
}

/* answearoption */

#answersButtons {
	display: grid;
	grid-template-columns: 3fr 3fr;
	gap: 20px;
}

.answer {
	min-height: 60px;
	min-width: 20vw;

	border: none;
	background-color: rgba(194, 11, 11, 0.507);

	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border-radius: 10px;
}
.selectedOpt {
	background-color: red;
	color: white;
	font-weight: bold;
}

.navigateButtons {
	position: absolute;
	bottom: 40%;
	opacity: 100%;
	transition: all 0.5s ease;
}

.opacity{
	opacity: 0%;
}

.navigateButtons button {
	background-color: white;
	color: red;
	font-size: 20px;
	border-radius: 100%;
	border: 1px solid red;

	height: 50px;
	width: 50px;

	display: flex;
	justify-content: center;
	align-items: center;

	animation: 5s ease-in 0s infinite beatRight;
}

#start:active {background-color: aliceblue}


@keyframes beatRight {
	30%, 80% { transform: scale(0.82, 0.82); }
}

@media only screen and (max-width: 600px) {

	@keyframes mymove {
		0% { left: 36%; }
		50% { left: 52%; }
		100% { left: 36%; }
	}
	body {
		align-items: center;
		background-image: url("../backgroundPics/loginDikey.jpg");
		background-size: cover;
		background-repeat: no-repeat;

		justify-content: center;
	}
	#titleBox {
		display: flex;
		justify-content: space-around;
		align-items: center;

		width: 100%;
		background-color: black;
		color: white;
		height: 5vh;
		font-size: 11px;
		flex-direction: row;
		position: absolute;
		top: 0;
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: unset;
		align-items: center;
		
		height: fit-content;
	}
	.questionsContainer {
		display: flex;
		flex-direction: column;
		top: 0;
		height: auto;
		max-width: 90%;
		gap: 0;
	}
	.navigateButtons {
		position: relative;
		bottom: 102;
		right: 25;
	}

	.navigateButtons button {
		position: absolute;
		justify-content: center;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 20;
	}
	#pictureContainer {   
		width: 95%;
		position: relative;
		justify-content: center;
	}
	#pictureContainer > img {   
		width: 100%;
		max-height: 80vh;
	}
	.questionsContainer > div:first-child {
		text-align: center;
		margin-top: 10px;
		color: rgb(90,10,20);
	}
	#answersButtons {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 10px;
		margin-top: 5px;
		min-width: 100%;
		color: aliceblue;
	}
	.answer{
		border: none;
		background-color: rgb(142,10,36);
		font-size: 15px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 3px;
		border-radius: 10px;
		height: 6vh;
		min-height: auto;
		min-width: auto;
		width: auto;
	}
	.selectedOpt {
		background-color: red;
		color: white;
		font-weight: bold;
	}
	#playGround.playArea {
		color: whitesmoke;
		box-shadow: 2px 5px 14px whitesmoke;
		border: 1px solid whitesmoke;
		border-radius: 60px;
		overflow-y: scroll;
	}
	#playGround.playG {
		border-radius: 5px;
		height: fit-content;
		max-height: fit-content;
		overflow-y: scroll;
	}

	#otherUsersDiv{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		color: honeydew;
	}
  }
