body{
    display: flex;
	align-items: flex-end;
	justify-content: center;
    margin: 0;

    background-image: url("../backgroundPics/backQuiz.jpg");
	background-size: cover;
	background-repeat: no-repeat;
    height: 100vh;
};

#aYear {
	font-size: 24px;
	position: relative;
	color: white;
	top: -45vh;
	left: 0.6vw;
}

.playArea{
	width: 85vw;
}

.playG {
	height: fit-content;

	display: flex;
	align-items: center;
	flex-direction: column;
    padding: 10px;
    border: 1px solid white;

    border-radius: 5px;
    box-shadow: 5px 10px 18px black;

	color: black;
	background-color: aliceblue;

	text-align: center;
	margin-bottom: 17px;
}

#playGround h2 {
	margin: 0;
	font-family: 'Cinzel', serif;
	font-size: 30px;
}

#start {
	display: inline-block;
	color: red;
	background-color: black;
	border: none;
	border-radius: 15px;
	box-shadow: 5px 10px 18px black;

	animation: mymove 2.5s infinite;
}

#start:active {background-color: aliceblue}

@keyframes mymove {
	0% { left: 46%; }
	50% { left: 50%; }
	100% { left: 46%; }
}

#heart {
	position: absolute;
	animation: 2s ease 0s infinite beat;
}


@keyframes beat {
	0%, 50%, 100% { transform: scale(1, 1); }
	30%, 80% { transform: scale(0.92, 0.95); }
  }

.hide{
	display: none;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;

	height: 78vh;
	width: 90vw;

	transition: width 1s ease-in;
}

#pictureContainer {   
    width: 40%;
    position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
#pictureContainer > img {   
	max-width: 94%;
	max-height: 80vh;
}

/* QUESTIONPARENT  */
.questionsContainer {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	position: relative;
	border-radius: 2rem;
	gap: 20px;
	max-width: 50vw;
	height: 50vh;
	top: 30;
}

/* question  */

.questionsContainer>div:first-child{
    flex-basis: 15%;
    width: 100%; 

    display: flex;
    align-items: flex-end;
    justify-content: center;
	font-family: 'Kaushan Script', cursive;
    font-size: 20px;

    text-align: center;
}

/* answearoption */

#answersButtons {
	display: grid;
	grid-template-columns: 3fr 3fr;
	gap: 20px;
}

.answer {
	min-height: 60px;
	min-width: 20vw;

	border: none;
	background-color:lightskyblue;

	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3px;
	border-radius: 10px;
}
.selectedOpt {
	background-color: black;
	color: honeydew;
	font-weight: bold;
}

.navigateButtons {
	position: relative;
	bottom: 120;
	right: 20;
}

.navigateButtons s button {
	background-color: black;
	color: lightskyblue;
	font-size: 20px;
	border-radius: 100%;
	position: absolute;

	height: 50px;
	width: 50px;

	justify-content: center;
	align-items: center;

	animation: 5s ease-in 0s infinite beatRight;
}

#start:active {background-color: aliceblue}


@keyframes beatRight {
	30%, 80% { transform: scale(0.82, 0.82); }
}

@media only screen and (max-width: 600px) {

	@keyframes mymove {
		0% { left: 44%; }
		50% { left: 46%; }
		100% { left: 44%; }
	}
	.container {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		height: 78vh;
		align-items: center;
	}
	.questionsContainer {
		max-width: 90%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		position: relative;
		gap: 10px;
		margin-top: 10px;
		height: 25vh;
		top: 0;
	}

	.navigateButtons {
		position: relative;
		bottom: 110;
		right: 20;
	}
	body{
		align-items: flex-start;
		background-image: url("../backgroundPics/kapadokya.jpg");
		background-size: cover;
		background-repeat: no-repeat;
		height: 100vh;

		overflow: hidden;
	}
	.playG {
		width: 85vw;
		max-height: 90vh;
		overflow-y: scroll;
		overflow-x: hidden;
		position: relative;
		top: 30;
	}
	.navigateButtons button {
		position: absolute;
		justify-content: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	#pictureContainer {   
		width: 95%;
		position: relative;
	}
	#pictureContainer > img {   
		width: 100%;
	}
  }

